/* .container {
    display: grid;
    background-color: brown;

} */


.footer_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: blueviolet;
    color: aliceblue;
    font-size: smaller;
}

